:root {
    --maincolor: #aaa;

    --maincolora: #dadada65;

    --hovercolor: #2D2C2B;
    --bg-color: #f8f8f8;
    --footer: #2a2a2a;
    --mint: #cff;


     --footerbg:#333333;
    --textcolor: black;
    --orange: #F0974F;
    --violet: #8A5CD9;
    --white: white;
    --yellow:#F2D45A;
}
